{% extends 'layout.html.twig' %}

{% block title %}Boutique - Produit {{ id }}{% endblock %}


{% block content %}


 <h1 class="display-4 mx-auto mt-4">DETAIL DU PRODUIT <strong class="text-info">{{ produit.title | upper }}</strong></h1>
	<div class="col-lg-6 col-md-12 mx-auto form1">
	<div class="card h-100">
	   
		<a href=""><img class="card-img-top" src="{{ asset('photo/' ~ produit.photo )}}" alt=""></a>
        {# pour appeler l' image que l'on vient de cliquer #}
        {# ici, ce n' est plus pdt.photo mais produit.photo. pdt nous servait dans une boucle avant, mais ici ce n'est plus le cas. Il génère désormais une erreur #}
	   
		<div class="card-body text-center">
		<h4 class="card-title text-center">
			<a href="" class="alert-link text-info">{{ produit.title | upper }}</a>
            {# doc twig upper sert a tout mettre en majuscule #}
		</h4><hr>
		<h5 class="text-center">{{ produit.prix | number_format (2, ',', ' ')}} €</h5><hr>
            {# doc twig pour mettre un nombre a virgule au format français #}
		<p class="card-text text-center">{{ produit.description }} </p><hr>
		<p class="card-text text-center">{{ produit.taille }}</p><hr>
		<p class="card-text text-center">
        
        {% if produit.public == 'm' %}
        <p>Homme</p>
        {% elseif produit.public == 'f' %}
        <p>Femme</p>
        {% else %}
        <p>Mixte</p>
        {% endif %}
        {# doc twig pour un boucle if #}
        
        
        
        </p><hr>
		<p class="card-text text-center">{{ produit.couleur }}</p><hr>
		<a href="{{ path('categorie', {'cat' : produit.categorie} ) }}" class="alert-link text-dark card-text"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;retour vers la catégorie {{ produit.categorie }}</a>
		</div>

        <div class="card-footer text-center">

        {% if produit.stock > 0 %}
        <div class="form-group col-md-6 mx-auto ">

        <select class="form-control">

        {% for i in 1..5 if i<= produit.stock %}
        <option>Commander {{ i }} article(s)</option>
        {% endfor %}
        {# boucle pour créer un selecteur, qui s' arrete automatiquement a 5, sinon moins si article < a 5 #}

                {# <option>Commander 1 article</option>
                <option>Commander 2 articles</option>
                <option>Commander 3 articles</option>
                <option>Commander 4 articles</option>
                <option>Commander 5 articles</option> #}
        </select>

        </div>

		<div class="card-footer text-center">
			<button type="button" class="col-md-12 btn btn-dark">Ajouter au panier</button>
            {% else %}
            <i style="color:red">Produit en rupture de stock</i>
            {% endif %}
		</div>
		
	</div>
	</div>


 
 {% endblock %}
 
